In [2]:
import pandas as pd
df = pd.read_csv('regressiondata-221101-214107.csv')

In [22]:
df.head(10)

,ID,TransactionDate,HouseAge,DistanceToStation,NumberOfPubs,PostCode,HousePrice
0,0,2020.12,17.0,467.644775,4.0,5222.0,467104
1,1,2021.04,36.0,659.924963,3.0,5222.0,547714
2,2,2019.04,38.0,305.475941,7.0,5213.0,277232
3,3,2021.10,11.0,607.034754,5.0,5213.0,295958
4,4,2021.02,14.0,378.827222,5.0,5614.0,439963
5,5,2020.02,16.0,806.752405,1.0,5212.0,281262
6,6,2019.01,12.0,561.741678,5.0,5614.0,324167
7,7,2019.06,2.0,612.550897,4.0,5213.0,343720
8,8,2020.03,40.0,70.565801,8.0,5222.0,668514
9,9,2019.07,14.0,600.749920,5.0,5222.0,347909

In [23]:
df.tail(15)

,ID,TransactionDate,HouseAge,DistanceToStation,NumberOfPubs,PostCode,HousePrice
9341,9341,2019.07,4.0,163.181326,9.0,5217.0,374091
9342,9342,2020.12,3.0,151.702476,4.0,5213.0,261933
9343,9343,2021.12,37.0,537.881715,0.0,5222.0,487748
9344,9344,2019.04,4.0,196.422847,4.0,5217.0,324000
9345,9345,2019.10,4.0,93.808274,7.0,5614.0,461483
9346,9346,2020.12,28.0,660.048709,6.0,5614.0,499416
9347,9347,2021.11,42.0,55.471283,6.0,5213.0,299381
9348,9348,2021.12,17.0,647.585874,8.0,5212.0,271530
9349,9349,2021.09,12.0,1601.467269,1.0,5222.0,370851
9350,9350,2021.10,32.0,5327.995740,1.0,5222.0,178361
9351,9351,2019.07,36.0,554.324820,3.0,5217.0,420246
9352,9352,2021.02,21.0,2296.349397,4.0,5614.0,256087
9353,9353,2020.11,18.0,856.174897,0.0,5614.0,257663
9354,9354,2021.10,6.0,87.260667,9.0,5614.0,681072
9355,9355,2020.12,20.0,584.007146,4.0,5614.0,403096

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9356 entries, 0 to 9355
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ID                 9356 non-null   int64
 1   TransactionDate    9354 non-null   float64
 2   HouseAge           9352 non-null   float64
 3   DistanceToStation  9354 non-null   float64
 4   NumberOfPubs       9354 non-null   float64
 5   PostCode           9354 non-null   float64
 6   HousePrice         9349 non-null   object
dtypes: float64(5), int64(1), object(1)
memory usage: 511.8+ KB

In [20]:
df.describe()

,ID,TransactionDate,HouseAge,DistanceToStation,NumberOfPubs,PostCode
count,9356.000000,9354.000000,9352.000000,9354.000000,9.354000e+03,9354.000000
mean,4677.500000,2020.068789,17.434025,1099.934129,5.385850e+02,5294.196387
std,2700.988893,0.815739,11.402332,1267.545615,5.169766e+04,158.142394
min,0.000000,2019.010000,0.000000,23.734508,0.000000e+00,5212.000000
25%,2338.750000,2019.100000,9.000000,272.943832,1.000000e+00,5213.000000
50%,4677.500000,2020.070000,16.000000,556.054509,4.000000e+00,5217.000000
75%,7016.250000,2021.040000,28.000000,1538.084412,6.000000e+00,5222.000000
max,9355.000000,2021.120000,43.000000,6486.256457,4.999999e+06,5614.000000

In [21]:
df.shape

(9356, 7)